<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= id %>
    </title>
    <link rel="icon" href="/public/images/bf.gif">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/bfstyle.css">
    <link rel="stylesheet" href="/public/css/head.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://use.fontawesome.com/4afcb75146.js"></script>
    <!-- parallaxjs -->
    <script src="/public/script/parallax.js"></script>
    <script>
        function audio() {
            var audio = document.getElementById('music')
            var acon = document.getElementById('audiocon')
            if (audio.paused) {
                console.log('paused');
                audio.play();
                acon.className = "fa fa-volume-up";
            } else {
                console.log('playing');
                audio.pause();
                acon.className = "fa fa-volume-off";
            }
        }
        $(document).ready(function() {
            var audio = document.getElementById("music");
            audio.volume = 0.04;

        });
    </script>

</head>

<body>
    <%- include('header'); -%>
        <audio autoplay id="music" loop src="/public/music/battlefield.mp3"></audio>
        <div id="audio" onclick="audio()">
            <i id="audiocon" class="fa fa-volume-off" aria-hidden="true"></i>
        </div>
        <% if(nobf){ %>
            <div class="container-fluid" id="nogame">
                <div id="content">
                    <h3>
                        Get a Game Nigga
                    </h3>
                </div>
            </div>
            <%} %>
                <% if(bfv){ %>
                    <div id="parawindow">
                        <div id="para">
                            <h3 id="Ghead">
                                Battlefield V
                            </h3>
                        </div>
                    </div>
                    <section id="bfv" class="container-fluid">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2" id="imgp">
                                    <img src="<%= bfv.avatar %>" alt="">
                                </div>
                                <div class="col-md-10">
                                    <ul>
                                        <li>
                                            <h5>Rank</h5>
                                            <h6>
                                                <%= bfv.rank %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Winning Percent</h5>
                                            <h6>
                                                <%= bfv.winPercent %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Best Class</h5>
                                            <h6>
                                                <%= bfv.bestClass %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Accuracy</h5>
                                            <h6>
                                                <%= bfv.accuracy %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Headshots</h5>
                                            <h6>
                                                <%= bfv.headshots %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Time Played</h5>
                                            <h6>
                                                <%= bfv.timePlayed %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>K/D</h5>
                                            <h6>
                                                <%= bfv.killDeath %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Kills</h5>
                                            <h6>
                                                <%= bfv.kills %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Deaths</h5>
                                            <h6>
                                                <%= bfv.deaths %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Longest Headshot</h5>
                                            <h6>
                                                <%= bfv.longestHeadShot %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Dogtags Taken</h5>
                                            <h6>
                                                <%= bfv.dogtagsTaken %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Highest kill Streak</h5>
                                            <h6>
                                                <%= bfv.highestKillStreak %>
                                            </h6>
                                        </li>
                                        <li>
                                            <h5>Matches Played</h5>
                                            <h6>
                                                <%= bfv.roundsPlayed %>
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </section>
                    <%}%>
                        <% if(bf1){ %>
                            <div id="parawindow">
                                <div id="para">
                                    <h3 id="Ghead">
                                        Battlefield 1
                                    </h3>
                                </div>
                            </div>
                            <section id="bf1" class="container-fluid">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2" id="imgp">
                                            <img src="<%= bf1.avatar %>" alt="">
                                        </div>
                                        <div class="col-md-10">
                                            <ul>
                                                <li>
                                                    <h5>Rank</h5>
                                                    <h6>
                                                        <%= bf1.rank %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Winning Percent</h5>
                                                    <h6>
                                                        <%= bf1.winPercent %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Best Class</h5>
                                                    <h6>
                                                        <%= bf1.bestClass %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Accuracy</h5>
                                                    <h6>
                                                        <%= bf1.Accuracy %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Headshots</h5>
                                                    <h6>
                                                        <%= bf1.headshots %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Time Played</h5>
                                                    <h6>
                                                        <%= bf1.timePlayed %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>K/D</h5>
                                                    <h6>
                                                        <%= bf1.killDeath %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Kills</h5>
                                                    <h6>
                                                        <%= bf1.kills %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Deaths</h5>
                                                    <h6>
                                                        <%= bf1.deaths %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Longest Headshot</h5>
                                                    <h6>
                                                        <%= bf1.longestHeadShot %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Dogtags Taken</h5>
                                                    <h6>
                                                        <%= bf1.dogtagsTaken %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Highest kill Streak</h5>
                                                    <h6>
                                                        <%= bf1.highestKillStreak %>
                                                    </h6>
                                                </li>
                                                <li>
                                                    <h5>Matches Played</h5>
                                                    <h6>
                                                        <%= bf1.roundsPlayed %>
                                                    </h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <%} %>
                                <% if(bf4){ %>
                                    <div id="parawindow">
                                        <div id="para">
                                            <h3 id="Ghead">
                                                Battlefield 4
                                            </h3>
                                        </div>
                                    </div>

                                    <section id="bf4" class="container">
                                        <img src="<%= bf4.avatar %>" alt=""> <br>
                                        <%= bf4.rank %> <br>
                                            <%= bf4.KPM %> <br>
                                                <%= bf4.Win %> <br>
                                                    <%= bf4['Best Class'] %> <br>

                                    </section>
                                    <%} %>
                                        <div id="parawindow">
                                            <div id="para">
                                                <div id="Ghead2">
                                                    <input type="text" id="qta_field" placeholder="BlazingBane" value="BlazingBane">
                                                    <a id="r6a" href='' onclick="this.href='/bf/'+document.getElementById('qta_field').value">
                                                        <button type="button" name="" id="" class="btn btn-dark">Search
                                                            <i class="fa fa-search" aria-hidden="true"></i> </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
</body>
<%- include('footer'); -%>

</html>