<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= bfv.userName %>
    </title>
    <link rel="icon" href="/public/images/bf.gif">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/bfstyle.css">
    <link rel="stylesheet" href="/public/css/head.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://use.fontawesome.com/4afcb75146.js"></script>
    <!-- parallaxjs -->
    <script src="/public/script/parallax.js"></script>
    <script>
        function audio() {
            var audio = document.getElementById('music')
            var acon = document.getElementById('audiocon')
            if (audio.paused) {
                console.log('paused');
                audio.play();
                acon.className = "fa fa-volume-up";
            } else {
                console.log('playing');
                audio.pause();
                acon.className = "fa fa-volume-off";
            }
        }
        $(document).ready(function() {
            var audio = document.getElementById("music");
            audio.volume = 0.04;

        });
    </script>

</head>

<body>
    <%- include('header'); -%>
        <audio autoplay id="music" loop src="/public/music/battlefield.mp3"></audio>
        <div id="audio" onclick="audio()">
            <i id="audiocon" class="fa fa-volume-off" aria-hidden="true"></i>
        </div>
        <div id="parawindow">
            <div id="para">
                <h3 id="Ghead">
                    Battlefield V
                </h3>
            </div>
        </div>
        <section id="bfv">
            <img src="<%= bfv.avatar %>" alt=""> <br>
            <%= bfv.Rank %> <br>
                <%= bfv.KPM %> <br>
                    <%= bfv.Win %> <br>
                        <%= bfv['Best Class'] %> <br>
        </section>
        <div id="parawindow">
            <div id="para">
                <h3 id="Ghead">
                    Battlefield 1
                </h3>
            </div>
        </div>
        <section id="bf1">

        </section>
        <div id="parawindow">
            <div id="para">
                <h3 id="Ghead">
                    Battlefield 4
                </h3>
            </div>
        </div>
        <section id="bf4">

        </section>
</body>
<%- include('footer'); -%>

</html>